---
title: About
---

<section class="mb-5 mt-3 section-padding">
    <div class="container pb-5">

        {% include breadcrumb.html pagename="about" %}

        <div class=" mb-5">
            <ul class="nav nav-tabs text-capitalize" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about"
                        aria-selected="true">about us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills"
                        aria-selected="false">our skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="tools"
                        aria-selected="false">our tools</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="row wow fadeIn">
                    <div class="col-12 text-left">

                        <div class="media py-4 wow bounceIn">
                            <img width="250" height="250" class="d-flex mr-3 border rounded-circle" src="/assets/img/code.jpg"
                                alt="code.jpg">
                            <div class="media-body">
                             
                                    <h5 class="mt-0 mb-1 text-uppercase">Statogale</h5>
                                    <p class="text-justify font-weight-light mt-3">
                                        Statogale is a group of freelancers who specialize in various areas such as data science,
                                        data analysis and
                                        web development. We strongly believe in as well as love the concept of <strong class="text-uppercase">
                                            data collection,
                                            analysis and presentation </strong> as a means to better the society, hence we joined
                                        the train.
                                    </p>
                                    <h5 class="mt-0 mb-1 text-uppercase">When we aren't coding</h5>
                                    <p class="text-justify font-weight-light mt-3">So far, our team comprises of Optometrists in
                                        different locations
                                        rendering primary eye care services to individuals. This puts us in a position to work with
                                        data especially clinical data. </p>

                                        {% include social.html class="py-2" %}
                               
                            </div>
                        </div>
                      
                    </div>
                   
                </div>
            </div>
            <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="subtitle pb-3 subtitle">
                            <h5 class="mb-2 subheading">Analytic tools</h5>
                        </div>

                        <ol class="py-3 mt-2">
                            <li>Python</li>
                            <li>R language</li>
                            <li>And a host of other open source libraries meant for data analysis</li>
                        </ol>

                        <div class="subtitle pb-3">
                            <h5 class="mb-2 subheading">Dev tools</h5>
                        </div>

                        <ol class="py-3 mt-2">
                            <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                            <li><a href="https://reactjs.org/">ReactJs</a></li>
                            <li><a href="https://vuejs.org/">VueJs</a></li>
                            <li><a href="https://d3js.org/">D3Js</a></li>
                            <li><a href="https://plot.ly">Plotly</a></li>
                            <li><a href="https://laravel.com/">Laravel</a></li>
                            <li><a href="https://www.python.org/">Python</a></li>
                            <li>And Lots more....</li>
                        </ol>
                    </div>

                    <div class="col-12 col-md-6">

                        <div id="barPlot" style="width:auto; height:auto"></div>
                        <p class="py-3">source: <a href="https://plot.ly">Plotly</a></p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
                <div class="row">
                    <div class="col-12 col-md-6 subtitle">
                        <div class="bg-light p-3">
                            <h3 class="blue-text subheading">Our Skills</h3>
                            <p class="pt-3">Over the years, these are the items we have on our shelves. We keep on working to
                                get better in these
                                areas with each passing day. We built this website to also teach what we've learned so far.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        Web development
                        <div class="progress mb-3 mt-2">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        Data analysis
                        <div class="progress mb-3 mt-2">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        Mobile Development
                        <div class="progress mb-3 mt-2">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        Machine Learning
                        <div class="progress mb-3 mt-2">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        Data cleaning and Exploratory data analysis
                        <div class="progress mb-3 mt-2">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>