---
title: Home
---


<main>
  <section class="card wow fadeIn text-center bg">
    <div class="card-body text-white py-5 px-5 my-5">
  
      <h1 class="mb-4 mt-3">
        <strong>STATOGALE DEV_ ANALYTICS</strong>
      </h1>
      <p>
        <strong class="p-2">Freelancers in web development and data science</strong>
      </p>
      <p class="mb-4">
        <strong class="">This is our official site for all our freebies - code, tutorials etc... 
          We want to contribute to the software community as much as possible!!!  </strong>
      </p>
      <a target="_blank" href="/category/" class="btn btn-outline-white btn-lg move">See all categories
        <i class="fa fa-graduation-cap ml-2"></i>
      </a>
  
    </div>
  
  </section>
 
  <section class="pt-5 pb-5">

    <div class="container">
       
      <div class="text-center my-5">
        <h3 class="mt-3">What we teach here</h3>
        <p class="">These are the primary areas we would like to blog about</p>
      </div>
       
        <div class="row">
          <div class="col-lg-6 col-md-12 px-4">
            <div class="row wow slideInLeft">
              <div class="col-1 mr-3">
                <i class="fas fa-chart-line fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Data analysis</h5>
                <p class="grey-text">From code to data visualization, machine learning, learn how to employ the best tools for the job</p>
              </div>
            </div>
            
            <div class="height_30"></div>
      
            
            <div class="row wow slideInLeft">
              <div class="col-1 mr-3">
                <i class="fas fa-laptop-code fa-2x stato_blue_text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Web development</h5>
                <p class="grey-text">We also skilled in the art of web development using the latest tools with a focus on data visualization
                </p>
              </div>
            </div>
            
      
            <div class="height_30"></div>
      
            
            <div class="row wow slideInLeft">
              <div class="col-1 mr-3">
                <i class="fas fa-graduation-cap fa-2x stato_bluest_text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Mathematics and statistics</h5>
                <p class="grey-text">Learn the mathematics/statistics required for your thesis</p>
              </div>
            </div>
           

            <p class="mt-3 wow slideInUp"><a href="#contact" class="btn btn-primary">Want to here more?</a></p>
      
          </div>
          
      
          
          <div class="col-lg-6 col-md-12">
      
            <div id="myDiv" style="width:auto;height:auto"></div>
            <p class="py-3">Source: <a href="https://plot.ly">Plotly</a></p>

          </div>
      
        </div>
       
        </div>
      
      </section>
    
      <section class="lighten-5 bg-dark text-white pb-5 pt-3 mt-5" style="background:  #072034 !important">
    
        <div class="container">

       <div class="text-center my-5">
          <h2 class="">Technologies we use</h2>
          <p class="">These are some of the toys we love to play with on a daily basis</p>
       </div>
      
        
        <div class="row features-small mt-5 wow fadeIn">
      
          
          <div class="col-xl-3 col-lg-6">
            
            <div class="row">
              <div class="col-2">
                <i class="fab fa-python fa-2x mb-1 stato_bluest_text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <h5 class="feature-title font-bold mb-1">Python</h5>
                <p class="grey-text mt-2">Python is a great tool for data science as well as web development. Python rocks!!!
                </p>
              </div>
            </div>
          
          </div>
          
      
          
          <div class="col-xl-3 col-lg-6">
            
            <div class="row">
              <div class="col-2">
                <i class="fas fa-chart-bar fa-2x mb-1 stato_bluest_text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">R language</h5>
                <p class="grey-text mt-2">We also love the effort put into this awesome craft hence we love to play with it
                </p>
              </div>
            </div>
          
          </div>
          
          <div class="col-xl-3 col-lg-6">
            
            <div class="row">
              <div class="col-2">
                <i class="fab fa-react fa-2x mb-1 stato_bluest_text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">React Js</h5>
                <p class="grey-text mt-2">From awesome frontend development to data visualizations components
                </p>
              </div>
            </div>
          
          </div>
          
          <div class="col-xl-3 col-lg-6">
            
            <div class="row">
              <div class="col-2">
                <i class="fab fa-vuejs fa-2x mb-1 stato_bluest_text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Vue js</h5>
                <p class="grey-text mt-2">Of course we also love D3js, stack.gl as well as the react and vue components built from them
                  it.
                </p>
              </div>
            </div>
          
          </div>
      
        </div>
        
        <div class="row features-small mt-4 wow fadeIn">
          
          <div class="col-xl-3 col-lg-6">
            
            <div class="row">
              <div class="col-2">
                <i class="fa fa-chart-area fa-2x mb-1 stato_bluest_text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Javascript visualization libraries</h5>
                <p class="grey-text mt-2">Of course we also love D3js, stack.gl as well as the react and vue components built
                  from them
                  it.</p>
              </div>
            </div>
          
          </div>
            
            <div class="col-xl-3 col-lg-6">
              
              <div class="row">
                <div class="col-2">
                  <i class="fab fa-sass fa-2x mb-1 stato_bluest_text" aria-hidden="true"></i>
                </div>
                <div class="col-10 mb-2">
                  <h5 class="feature-title font-bold mb-1">SASS files</h5>
                  <p class="grey-text mt-2">Styling is our portion in the land of web development.</p>
                </div>
              </div>
            
            </div>
   
          <div class="col-xl-3 col-lg-6">
            
            <div class="row">
              <div class="col-2">
                <i class="fab fa-laravel fa-2x mb-1 stato_bluest_text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Laravel</h5>
                <p class="grey-text mt-2">We care about reliability. If you have any questions - do not hesitate to contact
                  us.
                </p>
              </div>
            </div>
          
          </div>
   
          <div class="col-xl-3 col-lg-6">
            
            <div class="row">
              <div class="col-2">
                <i class="fas fa-database fa-2x mb-1 stato_bluest_text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Databases</h5>
                <p class="grey-text mt-2">Whether it's a relational database or a NoSQL database such as mongo db we are here</p>
              </div>
            </div>
          
          </div>
              
      
        </div>
        
        </div>
      </section>
  
      <section class="py-5 grey lighten-4">
       
        <div class="container text-center">

          <div class="py-5 text-center">
              <h3 class="">Latest tutorials</h3>
              <p class="text-muted">We put together these stuffs every week</p>
          </div>

      
      <div class="row wow fadeIn">

        {% for post in site.posts limit:12 %}

          {% capture post_date %} {{ post.date | date_to_string }} {% endcapture %}
    
          {% include post_card.html author=post.author date=post_date title=post.title 
            url=post.url excerpt=post.excerpt image=post.image category=post.categories %}
       
        {% endfor %}
      </div>

      </div>
  </section>
</main>