--- 
layout: default 
title: Our team 
---

<section class="mt-5 section-padding">
    <div class="container">

        {% include breadcrumb.html pagename="team" %}

        <h5 class="py-4 mb-3 wow slideInLeft text-center">These are the ones who stir the waters</h5>
        
        <div class="row wow fadeIn">
                {% for author in site.authors %}

                <div class="col-lg-4 col-md-6 mb-4 text-center">
                    <div class="card">
                        <div class="view overlay">
                            <img src="{{ author.image | absolute_url }}" class="card-img-top" alt="{{ author.name }}">
                            <a href="{{ author.url | absolute_url }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                
                            <h4 class="card-title">{{ author.name }}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ author.position }}</h6>
                                {% include social.html class="py-3"
                                facebook=author.facebook
                                twitter=author.twitter
                                instagram=author.instagram
                                github=author.github %}
                            <a href="{{ author.url | absolute_url }}" class="btn btn-primary btn-md">About {{ author.name }}
                                <i class="fas fa-play ml-2"></i>
                            </a>
                        </div>
                
                    </div>
                </div>

                {% endfor %}
            </div>
    </div>
</section>