<address>
    <ul class="list-unstyled">
        <li class="nav-item"><a class="nav-link pl-0" href="mailto:{{ site.email }}"><i class="fa fa-envelope"
                    aria-hidden="true"></i>
                &nbsp; {{ site.email }}</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="tel:+2347064964053"><i class="fa fa-phone" aria-hidden="true"></i>
                &nbsp; +234 7064964053 (Mark Edosa, Taraba)</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="tel:+2347064964053"><i class="fa fa-phone" aria-hidden="true"></i>
                &nbsp; +234 7067385425 (Gabriel Okundaye, Abuja)</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="tel:+2347064964053"><i class="fa fa-phone" aria-hidden="true"></i>
                &nbsp; +234 8077070184 (Sunny Ebinum, Bayelsa)</a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="tel:+2347064964053"><i class="fa fa-phone" aria-hidden="true"></i>
                &nbsp; +234 8026658464 (Osas Ofunmwengbe, Lagos) </a></li>
        <li class="nav-item"><a class="nav-link pl-0" href="tel:+2347064964053"><i class="fa fa-phone" aria-hidden="true"></i>
                &nbsp; +234 67128083 (Donatello Igbinedion)</a></li>
    </ul>
</address>