<div class="{{ include.class | default: 'py-3' }}" style="font-size: 1.125rem;"> 
    <a href="{{ include.facebook | default: site.social_facebook }}" target="_blank"><i class="fab blue-text fa-facebook-f mr-3"></i></a>
    <a href="{{ include.instagram | default: site.social_instagram }}" target="_blank"><i class="fab red-text fa-instagram mr-3"></i></a>
    <a href="{{ include.twitter | default: site.social_twitter }}" target="_blank"><i class="fab blue-text fa-twitter mr-3"></i></a>
    <a href="{{ include.youtube | default: site.social_youtube }}" target="_blank"><i class="fab red-text fa-youtube mr-3"></i></a>
    <a href="{{ include.google | default: site.social_google }}" target="_blank"><i class="fab red-text  fa-google-plus mr-3"></i></a>
    <a href="{{ include.pinterest | default: site.social_pinterest }}" target="_blank"><i class="fab red-text  fa-pinterest mr-3"></i></a>
    <a href="{{ include.github | default: site.social_github }}" target="_blank"><i class="fab fa-github mr-3"></i></a>
    <a href="{{ include.codepen | default: site.social_codepen }}" target="_blank"><i class="fab fa-codepen mr-3"></i></a>
</div>