<div class="card mb-4 text-center wow fadeIn">

    <div class="card-header">Do you want to get informed about new articles?</div>

    <div class="card-body">

        <form>
            <label for="defaultFormEmailEx" class="grey-text">Your email</label>
            <input type="email" id="defaultFormLoginEmailEx" class="form-control">
            <br>

            <label for="defaultFormNameEx" class="grey-text">Your name</label>
            <input type="text" id="defaultFormNameEx" class="form-control">

            <div class="text-center mt-4">
                <button class="btn btn-info btn-md" type="submit">Sign up</button>
            </div>
        </form>

    </div>

</div>
