---
---

.section-padding {
    padding: 90px 0 60px;
}

.card-comments img{width:4rem}

.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight .cm { color: #999988; font-style: italic; }

.highlight .cp { color: #999999; font-weight: bold; }

.highlight .c1 { color: #999988; font-style: italic; }

.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }

.highlight .c, .highlight .cd { color: #999988; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .gd { color: #000000; background-color: #ffdddd; }

.highlight .ge { color: #000000; font-style: italic; }

.highlight .gr { color: #aa0000; }

.highlight .gh { color: #999999; }

.highlight .gi { color: #000000; background-color: #ddffdd; }

.highlight .go { color: #888888; }

.highlight .gp { color: #555555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaaaaa; }

.highlight .gt { color: #aa0000; }

.highlight .kc { color: #000000; font-weight: bold; }

.highlight .kd { color: #000000; font-weight: bold; }

.highlight .kn { color: #000000; font-weight: bold; }

.highlight .kp { color: #000000; font-weight: bold; }

.highlight .kr { color: #000000; font-weight: bold; }

.highlight .kt { color: #445588; font-weight: bold; }

.highlight .k, .highlight .kv { color: #000000; font-weight: bold; }

.highlight .mf { color: #009999; }

.highlight .mh { color: #009999; }

.highlight .il { color: #009999; }

.highlight .mi { color: #009999; }

.highlight .mo { color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx { color: #009999; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .bp { color: #999999; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #445588; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .nd { color: #3c5d5d; font-weight: bold; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #990000; font-weight: bold; }

.highlight .nf { color: #990000; font-weight: bold; }

.highlight .nl { color: #990000; font-weight: bold; }

.highlight .nn { color: #555555; }

.highlight .nt { color: #000080; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .nv { color: #008080; }

.highlight .ow { color: #000000; font-weight: bold; }

.highlight .o { color: #000000; font-weight: bold; }

.highlight .w { color: #bbbbbb; }

.highlight { background-color: #f8f8f8; }


.height_30 {
    height: 30px;
}

.height_20 {
    height: 20px;
}

.title .stato_subheading {
    font: 400 14px "Roboto", sans-serif;
    color: #555555;
    padding-top: 55px;
}


.subtitle .subheading {
    /* font: 700 36px "Roboto", sans-serif; */
    color: #222222;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.subtitle .subheading::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    background: #2196f3;
    left: 0;
    bottom: -22px;
}

.nav-tabs {
  border: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link {
    border: 0;
    color: #222222;
    background-color: inherit;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #2196f3;
    border-bottom: 2px solid #3f51b5!important;
}

  body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("/assets/img/code-coding.jpg");
  background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

// .breadcrumb {
//     background-color: inherit !important;
// }

.move_contact {
    animation: shake 1000ms infinite alternate;
}

.move {
    animation: shake 500ms infinite alternate-reverse;
}

.logo_spin {
    animation: App_logo_spin infinite 3s linear;
}

@keyframes App_logo_spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes shake {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.125)
    }
}


$main_blue: #2196f3;
$light_blue: #186FB3;
$dark_blue: #104773;
$darkest_blue: #072034;
$lighter_blue: #1E86D9;

.stato_blue_text {
    color: $light_blue !important;
}

.stato_bluest_text {
    color: $lighter_blue !important;
}

.footer_bg {
    background:  $dark_blue !important;
}

.navbar-nav .nav-item.active {
    background-color: $lighter_blue !important;
}

.navbar-nav .nav-item.active .nav-link  {
    color: #ffffff !important;
}

.navbar .nav-link:hover:not(.active) {

    color: #ffffff !important; 
    background-color: $main_blue !important;
}

