---
layout: default
---


<section class="section-padding mt-3">
<div class="container">

    {% capture new_crumb %}
    <a class="breadcrumb-item" href="/staff.html">team</a>
    {% endcapture %}

    {% include breadcrumb.html pagename=page.name new_item=new_crumb %}

    <div class="row py-3">
        <div class="col-12 col-md-7">

        <li class="media py-3 wow bounceIn">
            <img width="150" height="150" class="d-flex mr-3 border rounded-circle" src="{{ page.image  | absolute_url }}"
                alt="{{ page.name }}">
            <div class="media-body">
                
                <h5 class="mt-0 mb-1 font-weight-bold">{{ page.name }}</h5>
          
                <p>{{ page.position }}</p>
                <p>{{ content | markdownify }}</p>
                 <p>{{ page.name }} is skilled in the following areas: <span class="font-italic">{{ page.skills }} etc..</span> </p>

                {% include social.html class="py-1"  
                    facebook=page.facebook 
                    twitter=page.twitter 
                    instagram=page.instagram
                    github=page.github  %}

                <div class="py-2">
                    <ul class="list-unstyled">
                       <li>Send a mail: &nbsp; &nbsp; &nbsp; <a  href="mailto:statogale.da@gmail.com"><i class="fa fa-envelope"
                                aria-hidden="true"></i>
                            &nbsp; {{ site.email }}</a></li>
                       <li>Call: &nbsp; &nbsp; &nbsp; <a  href="tel:+2347064964053"><i class="fas fa-phone" aria-hidden="true"></i>
                            &nbsp; {{ page.phone }}</a></li>
                    </ul>
                </div>


                

            </div>
        </li>

            
        </div>
        <div class="col-12 col-md-5">
            <h5 class="py-3">Posts by {{ page.name }}</h5>
        <ul class="list-unstyled">
            {% assign filtered_posts = site.posts | where: 'author', page.short_name %} {% for post in filtered_posts %}
            <li class="">
                    <a href="{{ site.url }}{{ post.url }}#disqus_thread">{{ post.title }} </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
</section>